.LeftSide .summary-left {

    text-align: left;
    align-items: center;
    margin: 10px;
    margin-left:62px
}

.LeftSide .summary-right {
   
    text-align: left;
    align-items: center;
    margin: 10px;
}